
<div *ngIf="user.roles[0]=='ROLE_USER' else elseblocke">
  <div id="notfounde">
    <div class="notfound">
      <div class="notfound-404">
        <h1>Oops!</h1>
      </div>
      <h2>404 - Page not found</h2>
      <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
      <a href="/dashboard">Go To Homepage</a>
    </div>
  </div>
</div>
<ng-template #elseblocke>
  <div class="header  pb-8 pt-5 pt-md-8" style="background-color: #2C3144">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->

        <div class="row">
          <div class="col-xl-3 col-lg-6">

          </div>
          <div class="col-xl-3 col-lg-6">


          </div>
          <div class="col-xl-3 col-lg-6">

          </div>
          <div class="col-xl-3 col-lg-6">

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-white pb-5">
            Modifier Salle
          </div>

          <div class="card-body px-lg-5 py-lg-5">

            <form
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >

              <div class="form-group">
                <label for="name">Nom Salle</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  [(ngModel)]="form.name"
                  required

                  #firstname="ngModel"
                />

                <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
                  <div *ngIf="firstname.errors.required">Immatriculation non valide</div>

                </div>
              </div>

              <div class="form-group">
                <label for="local"> locale </label>

                <select
                  class="form-control"
                  [(ngModel)]="form.local"
                  required
                  name="local"

                  #local="ngModel">
                  <option selected disabled > -----choisir local----</option>
                  <option  value="Principal">Principal</option>
                  <option  value="Annexe">Annexe</option>

                </select>
                <div class="alert-danger" *ngIf="f.submitted && local.invalid">
                  <div *ngIf="local.errors.required">Date de naissance  non valide
                  </div>

                </div>
              </div>



              <div class="form-group">
                <button class="btn btn-primary btn-block">Modifier</button>
              </div>

              <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br/>{{ errorMessage }}
              </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Your registration is successful!
            </div>

          </div>
        </div>
      </div>
    </div>


  </div></ng-template>


